* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 50px auto;
  width: 500px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  height: 40px;
  margin-bottom: 10px;
}

form button {
  margin-top: 10px;
}